.numCfg {
  width: 6ch;
  text-align: right
}

.cellHeader {
  background-color: #dedede;
  padding: 4px;
  font-weight: 700;
}

.cellTest {
  background-color: rgb(162, 225, 247);
}

.timeCfg {
  width: 12ch
}